body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 10pt Verdana, Arial, sans-serif;
    background-image: url(/images/grunge_bulgarian_flag_by_thedrake92-d1xc3rx.jpg);
    color: #fff;
    overflow-wrap: break-word;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.home-jumbotron {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

.table {
    color: #fff;
    background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

.btn {
    color: #FFF;
    background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

.pagination > li > a, .pagination > li > span {
    color: #FFF;
}

.btn:hover {
    color: #FFF;
}

.embed-responsive-21by9 {
    width: 350px;
    height: 315px;
    display: block;
    margin: 0 auto;
}

.movies-listings .img-responsive {
    height: 200px !important;
    margin-bottom: 20px;
}

.article-listing .img-responsive {
    height: 200px !important;
    margin-bottom: 20px;
}

.card-default {
    margin: auto;
}

.img-center {
    margin: 0 auto;
}

.navbar {
    background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
    border-top: 0px solid #486;
    color: #fff;
    height: 50px;
    margin: 0px auto auto -0px;
    padding: 0;
    width: auto;
    z-index: 200;
}

.list-group-item {
    color: white;
    background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

.custom-card {
    color: white;
    background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

.footer-edited {
    background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
    border-top: 0px solid #486;
    color: #fff;
    height: 100%;
    padding: 50px;
    width: 100%;
    position:center;
}

.form-default {
    color: white;
    background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
}

.text-danger {
    color: yellow;
    font-weight: bold;
}

.text-default {
    color: darkblue;
    font-weight: bold;
}