@model ArticleFormModel
@{
    ViewData["Title"] = "Edit Article";
}

<div class="row form-default">
    <h2 class="text-default">@ViewData["Title"]</h2>
    @Html.Partial("_CreateEditPartialView", Model)
</div>